*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }  

  body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    color: rgb(255, 255, 255); 
    background: linear-gradient(
      to  top right,
      #0b2545 0%,
        #0b2545 50%,
        #bc4b51 80%,
        #bc4b51 100%
    );
  }

  /* NAV */ 

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 10px;
  letter-spacing: 2px;
}
.nav-list a, .logo {
  font-size: 1.4rem;
}

.nav-list li {
  list-style: none;
  margin-right: 20px;
}

.nav-list .bx {
  font-size: 2rem;
  color: #0b2545
}

.logo {
  width: 100px;
}


/* HOVER */

.nav-list a:hover {
  color: #0A2545;
  border-bottom: 1px solid #3B2F48;
}

.nav-list .bx:hover {
  border-radius: 50%; 
  background-color:rgb(255, 255, 255);
}

.nav-list .bx:hover,
.nav-list a:hover {
  transition: 0.4s ease-in-out;
}

/* MAIN */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.intro h1 {
  font-size: 6rem;
}

.intro h2 {
  font-weight: 400;
}

.intro h1, .intro h2 {
  margin-bottom: 30px;
}

.intro a {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

.intro .contact {
  list-style: none;
  background-color: #bc4b51;
  padding: 25px 55px;
  border-radius: 5px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}